/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  margin-left: 20px;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

table {
    border-bottom: black solid 1px;
    margin-bottom: 60px;
    border-collapse: collapse;
}

table tr:nth-child(even) {
  background-color: aliceblue;
}

td {
    width: 150px;
    height: 40px;
}

table th:nth-child(3), td:nth-child(3) {
  width: 70px;
}

tr:first-child {
    background-color: rgb(251, 173, 148);
    height: 45px;
    text-align:left
}

tr:hover {
    background-color: #fff0f0;
}

